<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Github Version C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8452FEBE1D7EE2B20071C5D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8452FED71D7EE2B20071C5D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8452FEE21D7EE2B20071C5D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
